<!DOCTYPE html>
<html>
	<head>
		<title>Member's App</title>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/javascripts/script2.js"></script>
	</head>
	<body>
    <p> Welcome to the Member's App.</p>

      <div>
          <label>Group Name:</label>
          <p id="group_name"><%= group_name %></p>
      </div>
      <div>
          <label>Group Key:</label>
          <p id="group_key"> <%= group_key %> </p>
      </div>
      <div>
          <label>Group Owner:</label>
          <p id="group_owner"> <%= group_owner %> </p>
      </div>

      <div>
          <label>Group Members:</label>
          <p id="current_members"></p>
      </div>


      <% if(group_owner == username) { %>

      <div>
          <label>Group formation complete:</label>
          <button id="group_complete_button"> Group Complete!</button>
      </div>

      <% } %>


	</body>
</html>


