<!DOCTYPE html>
<html>
	<head>
		<title>Member's App</title>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/javascripts/script1.js"></script>
	</head>
	<body>
    <p> Welcome to the Member's App.</p>

      <div>
          <label>Group Name:</label>
          <input id="group_name" type="text">
      </div>
      <div>
          <button id="group_submit">New Group!</button>
      </div>

      <div>
          <label>Connect to an Existing Group:</label>
          <input id="group_id" type="text">
      </div>
      <div>
          <button id="group_submit2">Connect!</button>
      </div>

	</body>
</html>


