
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeetUp | Welcome</title>

    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
    <link rel="stylesheet" href="/foundation-icons/foundation-icons.css" />

    <script type="text/javascript" src="/javascripts/vendor/modernizr.js"></script>
   
  </head>
 <body>
       <div class="fixed">
        <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <li class="name">
                <h1><a href="/"><img id="button_logo" src="/images/logo2.png"></a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section" style="left: 0%;">
              <ul class="right">
                                  <li class="active"><a style="background-color: #FA8900;" href="/registration.html">Sign Up</a></li>

                <li><a href="/login.html">Login</a></li>
              </ul>
            </section>
        </nav>
    </div>

    <div id="section1" class="sections">
      <div class="row">
        <div id="my_panel1" class="large-12 columns text-center">
            <div class="my_h1">Quick Hangout</div>
            <h3 class="subheader" style="color: white;">Let us help you plan your next gathering. A convenient solution that smartly finds for your group preferable hangout spots close to everyone.</h3>

            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse">
                  <div class="small-10 columns">
                    <input id="group_name" type="text" placeholder="Name of a New Group">
                  </div>
                  <div class="small-2 columns">
                    <a id="group_submit" class="button postfix">Create</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse">
                  <div class="small-10 columns">
                    <input id="group_id" type="text" placeholder="Key of an Existing Group">
                  </div>
                  <div class="small-2 columns">
                    <a id="group_submit2" class="button postfix">Connect</a>
                  </div>
                </div>
              </div>
            </div>


        </div>
      </div>
    </div>

    <div id="section3" class="sections">
      </br></br>
      <div class="row text-center"><div class="large-12 columns">
        <h2 class="section3_text text-center" id="mainSubHeading">Why MeetUp.com?</h2>
        </br></br>

        <div class="row">
            <div class="large-6 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <img class="section3_icons" src= "/images/map.png">
                        <h3 class="section3_text_b">Advanced analysis for locations.</h3>
                        <h4 class="section3_text">The app uses smart techniques to find the best suggestions for you.</h4>
                    </div>
                </div>
            </div>

            <div class="large-6 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <img class="section3_icons" src="/images/trust.png">
                        <h3 class="section3_text_b">Trustworthy and reliant</h3>
                        <h4 class="section3_text">We value our customers greatly, and promise to offer the best customer service possible.</h4>
                    </div>
                </div>
            </div>
        </div>

        </br></br>

        <div class="row">
            <div class="large-6 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <img class="section3_icons" src="/images/secure.png">
                        <h3 class="section3_text_b">Best price is free.</h3>
                        <h4 class="section3_text">We know how much you value money. We do too. That's why you can use the app for free for a few more months.</h4>
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <img class="section3_icons" src="/images/community.png">
                        <h3 class="section3_text_b">Strengthen your bonds</h3>
                        <h4 class="section3_text">Friends are important. Connect with your friends through our app and meet up to share some cool stories.</h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>

    </br></br></br>

    <div class="footer">
        <div class="row">
            <div class="large-4 columns links text-center footerDiv">
        <div class="footerInnerDiv">
          <a href="/about">About</a> &nbsp&nbsp | &nbsp&nbsp 
          <a href="mailto:maher460@gmail.com?Subject=General%20contact" target="_top">Contact</a>
        </div>
            </div>

            <div class="large-4 columns social text-center footerDiv">
      <div class="footerInnerDiv" style="  margin-top: -15px;">
                <a href="https://www.facebook.com/" target="_blank"><i class="fi-social-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fi-social-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fi-social-linkedin"></i></a>
               </div>
            </div>
            <div class="large-4 columns copyright text-center footerDiv">
      <div class="footerInnerDiv">
                2015 © meetup.com
        </div>
            </div>
        </div>
      </br></br>
    </div>

  <script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/foundation.min.js"></script>
  <script type="text/javascript" src="/javascripts/landing_page.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
